<div>
    <p>{{input type="text" class="form-control" value=model.title placeholder="Enter title..."}}</p>
</div>
<div class="divider"></div>
<div>
    <p>{{textarea class="form-control" value=model.body placeholder="Enter body..."}}</p>
</div>
<div class="divider"></div>
