<div class="col-md-3">
  <div class="row">
      <h2>Dracula Blog</h2>

      <ul>
        {{#each model as |post|}}
        <li>

          <h4>
            {{#link-to "blog.post" post}}
            {{post.title}}
            {{/link-to}}
          </h4>

          <span class="muted">
            date: {{format-date post.date}}<br>
            author: {{post.author.name}}
        </span>
        </li>
        {{/each}}
      </ul>
        <p>{{#link-to 'blog.add-new'}}<button class="btn btn-primary"> Add new post </button>{{/link-to}}</p>
  </div>
</div>

<div class="col-md-9">
  <div class="row">
    {{outlet}}
  </div>
</div>
